{% extends 'base.html.twig' %}

{% block title %}Accès refusé{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
	<h1>Accès refusé</h1>
	<a href="{{ path('index') }}">Revenir à l'accueil</a>
{% endblock %}

{% block javascripts %}{% endblock %}

