section {
	padding: 1.5em;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}

header {
	background-color: #000000;
}

a.btn-connexion-inscription {
	margin-top: 7px;
	margin-right: 10px;
}

div.produits {
	text-align: center;
	margin-bottom: 30px;
}

div.produits h1.descriptif {
	font-size: 1.3em;
}

div.produits h2.prix {
	font-size: 1.1em;
}

div.produits div.image {
	opacity: 0.9;
}

div.produits div.image:hover {
	opacity: 1;
}

div.produits input.prix-placer {
    margin: 2rem 0;
	width: 170px;
	height: 30px;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}

div.produits button.button-placer-offre {
	display: block;
	margin: auto;
	width: 130px;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}

div.produits p.message-mise-confirmation {
	margin-top: 10px;
}

div.produits p.message-mise-confirmation-a-masquer {
	margin-top: 10px;
	opacity: 0;
}

footer {
	border: 1px solid black;
	background-color: #000000;
	height: 100px;
}

footer h2 {
	color: white;
	text-align: center;
	font-size: 1.5em;
	margin-top: 35px;
}

/* Place correctement le menu déroulant user (tout à droite) */
@media (min-width: 768px) {
  .navbar-right .dropdown-menu > li > a {
    padding-right: 46px;
    position: relative;
  }
  .navbar-right .dropdown-menu > li > a > .glyphicon {
    display: block;
    position: absolute;
    right: 20px;
    top: 5px;
  }
}

