{% extends 'base.html.twig' %}

{% block title %}Placer une offre{% endblock %}

{% block body %}
    <h1>Placer une offre</h1>

    {{ include('_form.html.twig') }}

    <a href="{{ path('index') }}">back to list</a>
	
	{% if messageConfirmation %}
		<p>{{ messageConfirmation }}</p>
	{% endif %}
{% endblock %}
